AddDefaultCharset UTF-8
Options +MultiViews
RewriteEngine On
RewriteRule http-bind/ http://localhost:7070/http-bind/ [P]
RewriteRule presence/status(.*) http://localhost:9090/plugins/presence/status/$1 [P]
